 body * {
     display: flex;
     flex-direction: column;
 }

 #firstDiv {
     background-color: #b41f1f98;
     width: 500px;
 }

 .title {
     color: rgba(255, 255, 0, 1);
     font-size: 50px;
 }
