.background {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #2161CB;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.ToDoList {
    display: flex;
    width: 40%;
    height: 50%;
    background-color: white;
    border-radius: 5px;
    flex-direction:column;
    flex-wrap: wrap;
}

.input {
    display: flex;

}