.background {
    width: 100%;
    height: 100%;
    background-color: #2161CB;
}

.ToDoList {
    display: flex;
    align-items: center;
    width: 40%;
    height: 60%;
    background-color: white;
}