//隱藏scroll bar
body:has(.ToDoList) {
    overflow-y: hidden;
}

.background {
    display: flex;
    width: 100%;
    height: auto;
    min-height: 95%;
    background-color: #2161CB;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;

    overflow:auto;
}

.ToDoList {
    position: absolute;
    top: 20%;

    //顏色
    background-color: white;
    //大小
    width: 60%;
    max-width: 500px;
    min-height: 60%;
    //flex
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-direction: column;

    padding: 20px;

}

.inputProp {
    display: flex;
    height: 70px;
    //content
    gap: 25px;
    align-items: center;
}

.input {
    width: 90%;
    height: 70%;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    outline-color: #2261CB;
    padding-left: 15px;
}

.inputButton {
    width: 100px;
    height: 70%;
    align-items: center;

}

.inputBlock {
    height: 45px;
}

.content {
    display: flex;
    flex-direction: row;
    height: 55px;
    border-style: solid;
    border-radius: 5px;
    border-width: 3px;
    border-color: #BED2D5;
    background-color: #C5E1E5;
    justify-content: space-between;
    align-items: center;
}

.contentText {
    font-size: large;

}

.contentButton {
    height: 40px;
    width: 40px;
}

.contentBlock {
    height: 10px;
}