.background {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #2161CB;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.ToDoList {
    //顏色
    background-color: white;
    //大小
    width: 60%;
    height: 50%;
    max-width: 650px;
    //flex
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    flex-wrap: wrap;
    flex-direction: column;

    padding: 20px;
}

.inputProp {
    display: flex;
    height: 70px;
    //content
    gap: 25px;
    align-items: center;
}

.input {
    width: 90%;
    height: 70%;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    outline-color: #2261CB;
    padding-left: 15px;
}

.inputButton {
    width: 100px;
    height: 70%;
    align-items: center;
}

.inputBlock {
    height: 55px;
}

.content {
    display: flex;
    flex-direction: row;
    height: 55px;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: #BED2D5;
    background-color: #C5E1E5;
    align-items: center;
}

.contentText {}

.contentButton {
    height: 40px;
    width: 40px;
    background-color: #1D1BA3 !important;
    border-color: #1D1BA3!important;
}